.footer{
    display: block;
    margin: auto;
    color: white;
    background-color: rgb(32, 31, 43);
    padding-top: 2em;
    padding-bottom: 4em;
}

.logoBox{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7em;
}